 .box{
            position: relative;
            margin:auto;
           
            overflow: hidden;
            padding-bottom: 20px;
        }
       .text{
           height: 60px;
           color: #555555;
           word-break:break-word ;
           word-wrap: break-word;
           line-height: 20px;
           overflow: hidden;
       }
        .label1{
            position: absolute;
            bottom: 0;
            left: 0px;
            height: 20px;
            line-height: 40px;
            color: rgb(96,115,232);
            cursor: pointer;
        }/*用于调整单选框的属性以及位置*/
        .label2{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            line-height: 40px;
            color: rgb(96,115,232);
            cursor: pointer;
            display: none;
        }/*用于调整单选框的属性以及位置*/

        #Input1:checked~div{height: auto}/*展开高度*/
        #Input1:checked~.label1{
            display: none;}/*隐藏更多*/
        #Input1:checked~.label2{
            display: block;}/*显示收起*/
        #Input2:checked~div{
            height: 40px;}/*还原高度*/
        #Input2:checked~.label2{
            display: none;}/*隐藏收起*/